name: CI
on: [push, pull_request]
jobs:
    build-Ubuntu:
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@v4
            - uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '10.x'
            - name: Build
              run: |
                find . -regextype posix-extended -regex ".*\.slnx?" -exec dotnet build {} \;
            - name: Run tests
              run: |
                find . -regextype posix-extended -regex ".*\.slnx?" -exec dotnet test {} \;

    build-Windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '10.x'
            - name: Build
              shell: pwsh
              run: |
                Get-ChildItem -Recurse -Include *.sln, *.slnx | ForEach-Object { dotnet build $_.FullName }
            - name: Run tests
              shell: pwsh
              run: |
                Get-ChildItem -Recurse -Include *.sln, *.slnx | ForEach-Object { dotnet test $_.FullName }
